{% load i18n wagtailcore_tags %}
{% load static %}

{% include 'includes/center-header.html' %}
<div class="container-fluid">
    <div class="row">
        {% include "includes/center-sidenav.html" %}
        <div class="col-md-10">


            <div class="col-md-10 pt-5">


                <nav class="mt-5">
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">Shelf Details</a>
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#products"
                            role="tab" aria-controls="nav-home" aria-selected="true">Shelf Products</a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class=" tab-pane fade show active" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="row">

                            <div class="col-md-12 p-5 pt-0">
                                <div class="_product-detail-content">

                                    <div class="_p-price-box">
                                        <div class="p-list">
                                            <span>Shelf Price : <i class="fa fa-inr"></i> </span>
                                            <span class="price"> {{shelf.shelf_price}} </span>
                                            <small><b>Shelf size:</b>{{ shelf.shelf_size}}</small>
                                        </div>

                                        <div class="_p-features">
                                            <span> Description About this product:- </span>
                                            {{shelf.shelf_description}}
                                        </div>
                                        <form action="" method="post" accept-charset="utf-8">
                                            <ul class="spe_ul"></ul>

                                        </form>
                                    </div>
                                    {% if shelf.client_owner %}

                                    <ul class="list-group">
                                        <th>Ocuppant Details</th>
                                        <li class="list-group-item">
                                            <span> Name:- </span>
                                            {{ shelf.client_owner.client_name}}</li>
                                        <li class="list-group-item">ID Number:
                                            {{ shelf.client_owner.client_id_number}}
                                        </li>
                                        <li class="list-group-item">Client Contacts:
                                            {{ shelf.client_owner.client_contacts }}
                                        </li>
                                        <li class="list-group-item">Client Email:
                                            {{ shelf.client_owner.client_email}}
                                        </li>
                                        <li class="list-group-item">
                                            Client Business Name:
                                            {{ shelf.client_owner.client_business_name}}</li>
                                        <li class="list-group-item">
                                            Client Business Type:{{  shelf.client_owner.business_type}}
                                        </li>
                                        <li class="list-group-item">Status: {% if client.client_status %} <span
                                                class="badge badge-success">Active</span> {% else %} <a href="#"
                                                class="badge badge-secondary">Inactive</a>{% endif %}</li>
                                        {% endif %}
                                        {% if shelf.client_owner %}
                                        <p class="_p-name"><button type="button" class="mt-5 btn btn-success">
                                                Occupied by: <span
                                                    class="badge badge-light">{{shelf.client_owner.client_name}}</span>

                                            </button> </p>

                                        <div class="_p-qty-and-cart">
                                            <div class="_p-add-cart">
                                                <a href="/{{shelf.id}}/add_product">
                                                    <button class="btn-theme btn buy-btn" tabindex="0">
                                                        <i class="fa fa-shopping-cart"></i> Add Product/Stock
                                                    </button></a>
                                                {%if shelf.client_owner %}
                                                <a href="/django-admin/home/client/{{shelf.client_owner.id}}/change/">
                                                    <button class="btn-theme btn btn-danger" tabindex="0">
                                                        <i class="fa fa-shopping-cart"></i> Vacate Client
                                                    </button>
                                                </a>
                                                {% endif %}
                                                <input type="hidden" name="pid" value="18" />
                                                <input type="hidden" name="price" value="850" />
                                                <input type="hidden" name="url" value="" />
                                            </div>
                                        </div>
                                        {% else %}
                                        <a href="/django-admin/home/shelf/{{shelf.id}}/change/">
                                            <button class="badge badge-pill badge-secondary">Vacant</button>
                                            <button class="btn-theme btn btn-info" tabindex="0">
                                                <i class="fa fa-shopping-cart"></i> Attach Client
                                            </button>
                                        </a>
                                        {% endif %}

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class=" tab-pane fade show active" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="row">

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>s