{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

<div class="col-md-2 pt-2 clicked" id="side-bar">

    <ul class="nav flex-column side-nav">

        <li class="nav-item">
            <a href="/" class="nav-link nav-target">
                <i class="fas fa-chalkboard"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-target" href="#"><i class="fas fa-chess-board"></i>Shelves <i
                    class="fa fa-caret-down"></i></a>
            <ul class="drop-down">
                <a href="/shelves-page">
                    <li><i class="fas fa-archive"></i>
                        All Shelves
                    </li>
                </a>
                <a href="/add_shelf">
                    <li><i class="fas fa-pallet"></i>
                        Add shelf
                    </li>
                </a>

            </ul>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-target" href="#">Products <i class="fa fa-caret-down"></i></a>
            <ul class="drop-down">
                <a href="/products">
                    <li><i class="fab fa-product-hunt"></i>
                        All Products
                    </li>
                </a>
                <a href="/sell_product/5">
                    <li>
                        Sell Products
                    </li>
                </a>
                <a href="/1/add_product/">
                    <li><i class="fas fa-sitemap"></i>
                        Add product
                    </li>
                </a>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-target" href="#">Clients <i class="fa fa-caret-down"></i></a>
            <ul class="drop-down">
                <a href="/clients">
                    <li><i class="fas fa-user-friends"></i>
                        All Clients
                    </li>
                </a>
                <a href="/add_new_client">
                    <li><i class="fas fa-users"></i>
                        Add Client
                    </li>
                </a>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-target" href="">Rent and Arrears <i class="fa fa-caret-down"></i></a>
            <ul class="drop-down">
                <a href="/rent_payments">
                    <li><i class="fas fa-th-list"></i>View Payments
                    </li>
                </a>
                <a href="/add_rent">
                    <li><i class="fas fa-dollar-sign"></i>
                        Add Payment
                    </li>
                </a>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-target" href="/django-admin/home">admin</a>
        </li>
        <li class="nav-item">
            <a style="cursor: not-allowed;" class="nav-link nav-target" href="/admin">Pages admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-target disabled" href="/logout">Logout</a>
        </li>
    </ul>
</div>