.logo {
  color: rgb(15, 7, 7);
  font-family: "Lobster Two", cursive;
  text-transform: capitalize;
}
#side-bar {
  max-width: 0;
  transition: 0.6s;
  overflow: hidden;
  position: absolute;
  min-width: 0%;
  z-index: 100000;
  background: #e3e4e5;
  padding: 0;
}
#side-bar.clicked {
  min-width: 200px;
  transition: 0.6s;
}

.drop-down a:hover,
a.nav-link:hover {
  background-color: #cacaca;
}
.drop-down a,
a.nav-link {
  color: rgb(23 16 16 / 83%);
  min-width: 300px;
}
a.nav-link.active i.fa {
  transform: rotate(-90deg);
}

a.nav-link i.fa {
  transform: rotate(-90deg);
}
.nav-open .shade-center {
  transform: translate3d(225px, 0, 0);
  transition: 0.6s;
}
@media (max-width: 600px) {
  .dashboard-top {
    transform: translate3d(0, 0, 0);
  }
  .dashboard-data {
    margin: 10px auto;
    min-width: 280px;
  }
  .nav-open .shade-center {
    transform: translate3d(0, 0, 0);
    transition: 0.6s;
    margin: 0 auto;
    display: block;
    background-color: transparent;
  }
  #side-bar.clicked {
    min-width: 0px;
    transition: 0.3s;
  }
  #side-bar {
    min-width: 200px;
    border-right: 1px solid #4e4c4c;
    transition: 0.3s;
  }
  .shade-center::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgb(0 0 0 / 68%);
    transition: 0.3s;
  }
  .nav-open .shade-center::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: transparent;
    transition: 0.3s;
  }
}

.navbar {
  width: 100%;
}
.drop-down a {
  display: block;
  padding: 5px;
  text-decoration: none;
  list-style: none;
}

a:hover {
  text-decoration: none;
}
